/* Add a black background color to the top navigation bar */

body {
	color: #262626;
	font-size: 14px;
	line-height: 18px;
    margin: 0;
}

#title-bar {
    display: flex;
    position: sticky;
    background-color: #e9e9e9;
    margin: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #EFEFEF;
}

/* Style the search box inside the navigation bar */
#title-bar input[type=text] {
    padding: 6px;
    display: block;
    margin: 0 auto;
    width: auto;
    box-sizing: border-box;
    border-width: 0.5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #e9e9e9;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

